*.dump
out
.idea
*.beam

scala/dist/*
scala/target/
scala/lib_managed/
scala/src_managed/
scala/project
scala/.history
scala/.cache
scala/.lib/
scala/.bsp
scala/.bloop
scala/.vscode
scala/.metals
.vscode
.metals
.ipynb_checkpoints